.brutalist-photos {
  display: flex;
  flex-wrap: wrap;
  }
  
  .photo-container {
    width: 100%;
    height: auto; /* Adjust as needed */
  }
  
  .photo {
    flex-grow: 1;
  object-fit: cover;
  height: 400px;
  max-width: 800px;
  margin: 0.2rem;
  border-radius: 4px; 
  }

  /* .brutalist-photos {
    display: grid;
    grid-gap: 1em;
    grid: masonry / repeat(auto-fit, minmax(20em, 1fr));
  }
  .photo-container {
    height: 5em;
  } */
