.brutalist-photos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr)); /* Adjust as needed */    gap: 10px;
  }
  
  .photo-container {
    width: 100%;
    height: auto; /* Adjust as needed */
  }
  
  .photo {
    width: 100%;
    height: auto;
  }
  
  