.mainpage-container {
   background-image: url('pictures/IMGP5181.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  /* background-color: blueviolet;  */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 0.4fr 1fr 1.1fr 1.5fr; 
  gap: 10px 10px; 
  grid-template-areas: 
    "title-main title-main title-main"
    "photo-page-main ui-page-main app-page-main"
    ". . ."
    ". . ."; 
}
.title-main { grid-area: title-main; }
.photo-page-main { grid-area: photo-page-main; }
.ui-page-main { grid-area: ui-page-main; }
.app-page-main { grid-area: app-page-main; }

.photo-page-main{
    font-family: Roboto;
}
.title-main{
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
}

.photo-page-main,.ui-page-main,.app-page-main{
    font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
}
.photo-page-main,.ui-page-main,.app-page-main {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
}

.photo-page-main:hover {
    background: #67c5ff;
    color: white;
}
.ui-page-main:hover {
  background: #67c5ff;
  color: white;
}.app-page-main:hover {
  background: #67c5ff;
  color: white;
}


link:hover{
    text-decoration: underline;
}
.link{
    text-decoration: none;
}
